<h1>New rival</h1>

<% if @rival.errors.any? %>

<h3>Please fix these errors:</h3>
<ul>
  <% @rival.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @rival do |f| %>

<%= f.label :rival_name %>
<%= f.text_field :rival_name %>

<%= f.label :rival_health %>
<%= f.number_field :rival_health %>

<%= submit_tag("rival_new")  %>
<% end %>
