<h1>Edit character</h1>

<% if @character.errors.any? %>

<h3>Please fix these errors:</h3>
<ul>
  <% @character.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @character do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :character_health, value: 50 %>
<%= f.label :character_name %>
<%= f.text_field :character_name %>
<%= submit_tag("character_new")  %>
<% end %>
