<h1>Edit location</h1>

<% if @location.errors.any? %>

<h3>Please fix these errors:</h3>
<ul>
  <% @location.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @location do |f| %>

<%= f.label :location_name %>
<%= f.text_field :location_name %>

<%= f.label :location_description %>
<%= f.text_area :location_description %>

<%= submit_tag("location_edit")  %>
<% end %>
