<h3>Name: <%= @location.location_name %></h3>
<h4>Location: <%= @location.location_description %></h4>


<hr>
<% if current_user[:admin] %>

<p><%= link_to "Edit", edit_location_path(@location) %></p>
<p><%= link_to "Delete", location_path(@location),
  :data => {:confirm => "You sure?",
  :method => "delete"} %></p>
  <hr>

  <p><%= link_to "Return to locations", locations_path %></p>
  <% else %>
  <hr>

  <p><%= link_to "Return to locations", locations_path %></p>

<% end %>
