<!DOCTYPE html>
<html>
<head>
  <title>The Path Rpg</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <h1>The Path rpg</h1>

  <% if user_signed_in? %>

    <%= link_to "Home", '/' %> |
    Logged in as <%= current_user.email %> | <%= link_to "Sign out", 'users/sign_out' %> <BR>
       <%= link_to "Items", items_path %> | <%= link_to "Characters", characters_path %> | <%= link_to "Locations", "locations_path" %>


  <% else %>
    <%= link_to "Home", '/' %> | <%= link_to "Sign up", '/users/sign_up' %> | <%= link_to "Sign in", '/users/sign_in' %>
  <% end %>

  <hr>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
